@charset "utf-8";
/* CSS Document */

* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

li {
	float: left;
	position: relative;
	margin-left: 5px;
	top: 50%;
	transform: translateY(-50%);
	margin-right: 5px;
	font-size: 25px;
}

html {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	text-rendering: optimizeLegibility;
	color: #ffffff;
	font-size: 20px;
}

@media only screen and (max-width: 1200px) {
	html { font-size: 30px;}
}

.profile-pic {
	height: 150px;
	width: 150px;
	border-radius: 50%;
}

.officers-main {
	
	padding-left: 10px;
	padding-right: 10px;
}

.president {
	float: left;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	width: 25%;
}

.vice-president {
	float: left;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	width: 25%;
}

.money {
	float: left;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	width: 25%;
}

.pr-social {
	float: left;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	width: 25%;
}

.events {
	float: left;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	width: 25%;
}

.teach {
	float: left;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	width: 25%;
}

.sec {
	float: left;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	width: 25%;
}

.advise {
	float: left;
	padding-right: 10px;
	padding-bottom: 10px;
	width: 25%;
}

.interns-main {
	padding-left: 10px;
	padding-right: 10px;
}

.intern-base {
	float: left;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	width: 33%;
}

.intern-you {
	float: left;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	width: 33%
}

@media only screen and (max-width: 1200px) {
	.president {width: 50%}
	.vice-president {width: 50%}
	.money {width: 50%}
	.pr-social {width: 50%}
	.events {width: 50%}
	.teach {width: 50%}
	.sec {width: 50%}
	.advise {width: 50%}
	.intern-base {width: 50%}
	.intern-you {width: 100%}
	.profile-pic{height: 300px; width: 300px}
}

.header-logo {
	float: left;
}

.header-logo-picture {
	height: 75px;
	width: auto;
	padding-top: 10px;
}

.row {
	padding-right: 25px;
	padding-left: 25px;
	width: 94%;
	max-width: 1280px;
	margin-left: auto;
	margin-right: auto;
}

@media only screen and (max-width: 1200px) {
	.row {
		max-width: 780px;
	}
}

#header {
	width: 100%;
	height: 85px;
	background-color: #1f1f1f;
	position: fixed;
	left: 50%;
	transform: translateX(-50%);
}

.header-wrapper {
	position: inherit;
	top: 0px;
	right: 40px;
	display: block !important;
}

.header-subwrapper {
	position: relative;
	display: inline-block;
	display: block;
	list-style: none;
	height: 85px;
}

li a {
	text-decoration: none;
	color: #606060;
}

li a:link {
	color: #606060;
}

li a:visited {
	color: #606060;
}

li a:hover {
	color: #D0D0D0;
}

li a:focus {
	color: #D0D0D0;
}

li.current a {
	color: #ffffff;
}


#home {
	background-image: linear-gradient(rgba(0,0,0,1),rgba(0,0,0,0.5)), url(pic/swing-bg.jpg);
	animation: bg-img-rotation 15s infinite;
	background-size: cover;
	background-position: center;
	height: 100vh;
	min-height: 768px;
}

@keyframes bg-img-rotation {
	0%, 32% { background-image: linear-gradient(rgba(0,0,0,1),rgba(0,0,0,0.5)), url(pic/swing-bg.jpg); }
	33%, 66% { background-image: linear-gradient(rgba(0,0,0,1),rgba(0,0,0,0.5)), url(pic/swing-bg2.jpg); }
	67%, 100% { background-image: linear-gradient(rgba(0,0,0,1),rgba(0,0,0,0.5)), url(pic/swing-bg3.jpg); }
}

.home-content-f_left {
	position: absolute;
	width: 50%;
	max-width: 540px;
	top: 50%;
	left: 50%;
	transform: translate(-100%, -50%);
}

.home-head {
	color: #c0c0c0;
	font-size: 68px;
	font-weight: 100;
	padding-bottom: 40px;
	letter-spacing: 2px;
}

.home-subhead {
	color: #c0c0c0;
	font-size: 50px;
	font-weight: 150;
	letter-spacing: 1px;
	padding-bottom: 10px;
}

.button-header a:link,
.button-header a:visited {
	display: inline-block;
	padding: 10px 40px;
	font-size: 100%;
	font-weight: 300;
	text-decoration: none;
	color: #ffffff;
	border: 1px solid #F66733;
	border-radius: 200px;
	transition: background-color 0.5s, border 0.5s;
}

.button-header a:hover,
.button-header a:active {
	background-color: #f54f12;
	border: 1px solid #f54f12;
}

#about {
	width: 100%;
	background-color: #f66733;
	min-height:  100vh;
}

#dances {
	background-color: #f54f12;
	min-height:  100vh;
}

#events {
	background-color: #db420a;
	min-height:  100vh;
}

#membership {
	background-color: #bb3808;
	min-height:  100vh;
}

#officers {
	background-color: #522d80;
	min-height:  100vh;
}

#login {
	background-color: #1f1f1f;
	min-height: 100px;
	max-height: 400px;
}



.all-lead {
	padding-top: 90px;
	max-width: 1080px;
	text-align: center;
	display: table;
	margin-left: auto;
	margin-right: auto;
}

.officers-header {
	margin-bottom: 20px;
	text-align: center;
	width: 100%;
	font-size: 200%;
}

.home-scrolldown {
	position: absolute;
	bottom: 0;
	right: 0;
	transform: rotate(90deg);
	transform-origin: top right;
}

.home-scrolldown a {
	position: relative;
	top: 20px;
	right: 20px;
}

.home-scrolldown a:link,
.home-scrolldown a:visited {
	position: absolute;
	width: 150px;
	color: #B4B4B4;
	text-decoration: none;
	font-size: 17px;
	animation: shake 2.5s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	transition: all 0.3s;
}

.home-scrolldown a:active,
.home-scrolldown a:hover {
	color: #ffffff;
	animation: color-switch 2s infinite, shake 2.5s infinite;
}

@keyframes color-switch {
	0% { color: #FF0004 }
	50% { color: #f66733 }
	100% { color: #FF0004 }
}

@keyframes shake {
	0%, 60%, 80%, 100% { transform: translateX(0); }
	20% { transform: translateX(-5px); }
	40% { transform: translateX(20px); }
}

.home-social-list {
  position: absolute;
  right: 45px;
  top: 35%;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 2.2rem;
  line-height: 1.75;
  text-align: center;
  transform: translateY(-50%);
  transform: rotate(90deg);
  transform-origin: top right;
}

.facebook-icon {
	height: 30px;
	transform: rotate(-90deg);
	transform-origin: top right;
}

.instagram-icon {
	height: 30px;
	transform: rotate(-90deg);
	transform-origin: top right;
}

.tigerquest-icon {
	height: 33px;
	transform: rotate(-90deg);
	transform-origin: top right;
}

.email-icon {
	height: 30px;
	transform: rotate(-90deg);
	transform-origin: top right;
}

.interns-header {
	text-align: center;
	margin-top: 420px;
	margin-bottom: 20px;
	width: 100%;
	font-size: 200%;
}

.footer-contact {
	float: left;
	width: 50%;
	text-align: center;
}

.footer-login {
	float: left;
	width: 50%;
	text-align: center;
}

.footer-bottom {
	width: 100%;
}

.footer-top {
	width: 100%;
	float: left;
}

.copyright {
	text-align: center;
}



.foot-copy-left {
	color: #606060;
	padding-right: 20px;
}

.foot-copy-right {
	color: #a0a0a0;
	padding-left: 20px;
}

.foot-copy-right a:link,
.foot-copy-right a:visited {
	color: #606060;
	text-decoration: none;
	transition: all 0.3s;
	animation: color-change 5s infinite;
}

@keyframes color-change {
	0% { color: #f66733 }
	50% { color: #ffffff }
	100% { color: #f66733 }
}

.foot-copy-right a:hover,
.foot-copy-right a:active {
	color: #f66733;
}


.footer-contact-header {
	color: #808080;
}

.footer-contact-info {
	color: #808080;
}

.footer-login-header {
	color: #808080;
}

.footer-login-btn a:link,
.footer-login-btn a:visited {
	display: inline-block;
	padding: 10px 40px;
	text-decoration: none;
	color: #808080;
	border: 1px solid #808080;
	border-radius: 200px;
	transition: all 0.3s;
}

.footer-login-btn a:hover,
.footer-login-btn a:active {
	background-color: #808080;
	color: #ffffff;
}

.about-header {
	padding-top: 90px;
	text-align: center;
	font-size: 200%;
}

.dances-header {
	padding-top: 90px;
	text-align: center;
	font-size: 200%;
}

.events-header {
	padding-top: 90px;
	text-align: center;
	font-size: 200%;
}



.membership-header {
	padding-top: 90px;
	text-align: center;
	font-size: 200%;
}

.join-us-btn a:link,
.join-us-btn a:visited,
.join-us-btn a:hover,
.join-us-btn a:active {
	text-decoration: none;
	color: #ffffff;
	border: solid 1px #ffffff;
	padding: 2px 10px;
	border-radius: 200px;
}

.profile-type {
	text-align: center;
	font-size: 125%;
	font-weight: 600;
	letter-spacing: 1px;
	padding-bottom: 5px;
}

.profile-name {
	text-align: center;
	font-size: 100%;
	font-weight: 100;
	letter-spacing: 2px;
	padding-bottom: 10px;
}

.about-body {
	font-size: 100%;
}

.dances-body {
	font-size: 100%;
}

.event-first-header {
	font-size: 150%;
}

.event-first-body {
	font-size: 100%;
}

.membership-body {
	font-size: 100%;
}
