@charset "utf-8";
/* CSS Document */

* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

li {
	float: left;
	position: relative;
	margin-left: 5px;
	top: 50%;
	transform: translateY(-50%);
	margin-right: 5px
}

html {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	text-rendering: optimizeLegibility;
}

.profile-pic {
	height: 100px;
	width: 100px;
	border-radius: 50%;
}

.officers-main {
	padding-left: 10px;
	padding-right: 10px;
}

.president {
	float: left;
	padding-left: 10px;
	padding-right: 10px;
}

.vice-president {
	float: left;
	padding-left: 10px;
	padding-right: 10px;
}

.money {
	float: left;
	padding-left: 10px;
	padding-right: 10px;
}

.pr-social {
	float: left;
	padding-left: 10px;
	padding-right: 10px;
}

.events {
	float: left;
	padding-left: 10px;
	padding-right: 10px;
}

.teach {
	float: left;
	padding-left: 10px;
	padding-right: 10px;
}

.sec {
	float: left;
	padding-left: 10px;
	padding-right: 10px;
}

.advise {
	padding-left: 10px;
	padding-right: 10px;
}

.interns-main {
	padding-left: 10px;
	padding-right: 10px;
}

.intern-base {
	float: left;
	padding-left: 10px;
	padding-right: 10px;
}

.intern-you {
	padding-left: 10px;
	padding-right: 10px;
}

.header-logo {
	float: left;
}

.header-logo-picture {
	height: 75px;
	width: auto;
	padding-top: 10px;
}

.row {
	padding-right: 25px;
	padding-left: 25px;
	width: 94%;
	max-width: 1080px;
	margin-left: auto;
	margin-right: auto;
}

#header {
	width: 100%;
	height: 85px;
	background-color: #1f1f1f;
	position: fixed;
	left: 50%;
	transform: translateX(-50%);
}

.header-wrapper {
	display: none;
	position: inherit;
	top: 0px;
	right: 40px;
	display: block !important;
}

.smoothscroll {
	
}

.header-subwrapper {
	position: relative;
	display: inline-block;
	display: block;
	list-style: none;
	height: 85px;
}

li a {
	text-decoration: none;
	color: #606060;
}

li a:link {
	color: #606060;
}

li a:visited {
	color: #606060;
}

li a:hover {
	color: #D0D0D0;
}

li a:focus {
	color: #f77f00;
}

li.current a {
	color: #ffffff;
}

